@media (min-width: 1192px) and (max-width: 1400px) {

    /* About Start */
    .about-us {
        padding-right: 15px;
        padding-left: 15px;
    }

    .about-us .top-content {
        gap: 80px;
    }

    .about-us .top-content p {
        max-width: 1029px;
    }

    .project-success {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }

    /* About End */

    /* Service Start */
    .service-container .s-cards {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }

    /* Service End */
}

@media (min-width: 993px) and (max-width: 1191px) {

    /* About Start */
    .about-us {
        padding-right: 15px;
        padding-left: 15px;
    }

    /* About End */
}


@media (min-width: 769px) and (max-width: 992px) {

    /* Navbar Start */
    .navbar-toggler {
        display: flex;
        flex-direction: column;
        gap: 7px;
        transition: all 0.3s ease;
    }

    .navbar-toggler div {
        width: 30px;
        height: 2px;
        background-color: #161616;
        transition: all 0.3s ease;
    }

    /* Active state → X */
    .navbar-toggler.active div:nth-child(1) {
        transform: rotate(45deg) translate(5px, 6px);
    }

    .navbar-toggler.active div:nth-child(2) {
        opacity: 0;
    }

    .navbar-toggler.active div:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -7px);
    }

    .navbar {
        padding: 24px 15px;
        border-radius: 0px;
    }

    .navbar-nav {
        position: absolute !important;
        padding: 15px 15px 20px 15px;
        flex-direction: column;
        width: 100%;
        background-color: #FFFFFF;
        position: absolute;
        top: 70px;
        right: 0;
        left: 0;
        margin: auto;
        align-items: start;
        display: none;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        z-index: 9999 !important;
    }

    .navbar-nav.show {
        display: flex;
    }

    .navbar-nav li {
        width: 100%;
        text-align: left;
        padding: 5px 0;
        border-bottom: 1px solid rgb(212, 210, 214);
    }

    .navbar-nav li:last-child {
        border-bottom: none;
        padding-top: 10px;
    }

    .navbar-nav li a,
    .nav-link {
        width: 100%;
        padding: 12px 4px;
    }

    .nav-link {
        display: flex;
        justify-content: space-between;
    }

    .dropdown-menu {
        margin-top: 15px;
        width: 100% !important;
        padding-top: 10px;
        padding-bottom: 12px;
    }

    .dropdown-menu li {
        padding: 0px !important;
    }

    .dropdown-menu li a {
        padding-left: 20px;
    }

    .dropdown:hover .dropdown-menu {
        position: static;
    }

    /* Navbar End */

    /* About Start */
    .about-us {
        padding-right: 15px;
        padding-left: 15px;
    }

    /* About End */
    /* Service Start*/
    .service-container {
        padding-right: 15px;
        padding-left: 15px;
    }

    .service-container .top-content h1 {
        font-size: 45px;
    }

    .service-container .s-cards {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    /* Service End*/

    /* Pricing */
    .pricing {
        padding-right: 15px;
        padding-left: 15px;
    }

    .pricing-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    /* Testimonials */
    .testimonials {
        padding-right: 15px;
        padding-left: 15px;
    }

    /* FAQ */
    .faq {
        padding-right: 15px;
        padding-left: 15px;
    }

    .accordion {
        max-width: 100%;
    }

    /* Portfolio */
    .portfolio {
        padding-right: 15px;
        padding-left: 15px;
    }

    .masonry {
        column-count: 3;
    }

    /* Contact */
    .contact {
        padding-right: 15px;
        padding-left: 15px;
    }

    .contact-grid {
        grid-template-columns: 1fr;
    }

    .contact-form .row {
        grid-template-columns: 1fr 1fr;
    }

    /* Footer */
    .site-footer .container {
        padding-right: 15px;
        padding-left: 15px;
    }

    .footer-grid {
        grid-template-columns: 1.5fr 1fr 1fr 1.5fr;
    }
}

@media (min-width: 320px) and (max-width: 768px) {

    /* Navbar Start */
    .navbar-toggler {
        display: flex;
        flex-direction: column;
        gap: 7px;
        transition: all 0.3s ease;
    }

    .navbar-toggler div {
        width: 30px;
        height: 2px;
        background-color: #161616;
        transition: all 0.3s ease;
    }

    /* Active state → X */
    .navbar-toggler.active div:nth-child(1) {
        transform: rotate(45deg) translate(5px, 6px);
    }

    .navbar-toggler.active div:nth-child(2) {
        opacity: 0;
    }

    .navbar-toggler.active div:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -7px);
    }

    .navbar {
        padding: 20px 15px;
        border-radius: 0px;
    }

    .navbar-nav {
        position: absolute !important;
        padding: 20px 15px 20px 15px;
        flex-direction: column;
        width: 100%;
        background-color: #FFFFFF;
        position: absolute;
        top: 67px;
        left: 0;
        right: 0;
        margin: auto;
        align-items: start;
        display: none;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        z-index: 9999 !important;
    }

    .navbar-nav.show {
        display: flex;
    }

    .navbar-nav li {
        width: 100%;
        text-align: left;
        padding: 4px 0;
        border-bottom: 1px solid rgb(212, 210, 214);
    }

    .navbar-nav li:last-child {
        border-bottom: none;
        padding-top: 10px;
    }

    .navbar-nav li a,
    .nav-link {
        width: 100%;
        padding: 12px 4px;
    }

    .nav-link {
        display: flex;
        justify-content: space-between;
    }


    .dropdown-menu {
        margin-top: 15px;
        width: 100% !important;
    }

    .dropdown-menu li {
        padding: 0px !important;
    }

    .dropdown-menu li a {
        padding-left: 15px;
    }

    .dropdown:hover .dropdown-menu {
        position: static;
    }

    /* Navbar End */

    /* Hero Start */
    .hero-container .top-content {
        width: 100% !important;
        padding: 0px 15px;
    }

    .hero-container .top-content h1 {
        font-size: 55px;
    }

    /* Hero End */


    /* About Start */
    .about-us {
        padding-right: 15px;
        padding-left: 15px;
    }

    .about-us .top-content {
        gap: 50px;
    }

    .about-us .top-content p {
        font-size: 40px;
        width: 100%;
    }

    .video-box {
        height: 400px;
    }

    /* About End */

    /* Service Start*/
    .service-container {
        padding-right: 15px;
        padding-left: 15px;
    }

    .service-container .top-content h1 {
        font-size: 45px;
    }

    .service-container .s-cards {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    /* Service End*/

    /* Pricing */
    .pricing {
        padding-right: 15px;
        padding-left: 15px;
    }

    .pricing .top-content h1 {
        font-size: 45px;
    }

    .pricing-grid {
        grid-template-columns: 1fr;
    }

    /* Testimonials */
    .testimonials {
        padding-right: 15px;
        padding-left: 15px;
    }

    .testimonials .top-content h1 {
        font-size: 45px;
    }

    .t-card {
        margin: 0 6px;
    }

    /* FAQ */
    .faq {
        padding-right: 15px;
        padding-left: 15px;
    }

    .faq .top-content h1 {
        font-size: 45px;
    }

    .accordion {
        max-width: 100%;
    }

    /* Portfolio */
    .portfolio {
        padding-right: 15px;
        padding-left: 15px;
    }

    .portfolio .top-content h1 {
        font-size: 45px;
    }

    .masonry {
        column-count: 2;
    }

    .masonry-item:nth-child(1),
    .masonry-item:nth-child(5) {
        height: 200px;
    }

    .masonry-item:nth-child(8),
    .masonry-item:nth-child(6),
    .masonry-item:nth-child(11) {
        height: 220px;
    }

    .masonry-item:nth-child(4),
    .masonry-item:nth-child(2),
    .masonry-item:nth-child(9) {
        height: 380px;
    }

    .masonry-item:nth-child(7) {
        height: 150px;
    }

    .masonry-item:nth-child(10),
    .masonry-item:nth-child(12) {
        height: 300px;
    }

    .masonry-item:nth-child(3) {
        height: 180px;
    }

    /* Contact */
    .contact {
        padding-top: 60px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .contact-grid {
        grid-template-columns: 1fr;
    }

    .contact-info {
        padding-right: 20px;
        padding-left: 20px;
    }

    .contact-form {
        padding-right: 15px;
        padding-left: 15px;
    }

    .contact-form .row {
        grid-template-columns: 1fr;
    }

    /* Footer */
    .site-footer .container {
        padding-right: 15px;
        padding-left: 15px;
    }

    .footer-grid {
        grid-template-columns: 1fr;
    }
}